spring:
  application:
    name: myTorn
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update # Or 'create', 'create-drop', 'validate', or 'none'
      show-sql: true
